<?xml version="1.0"?>
<configuration>
 
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
   <appSettings>
    <add key="mcstring" value="Provider=Microsoft.ACE.OLEDb.12.0;Data Source="/>
    <add key="dbPath" value="~/db/Appstore.accdb"/>
   </appSettings >
  
</configuration>